.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.items-per-page {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.items-per-page label {
  margin-right: 8px;
  color: #1976d2;
}

.items-per-page input[type='number'] {
  width: 60px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 8px;
  cursor: pointer;
}

.page-link {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
}

.currentPage {
  background-color: #eee;
  border-color: #ccc;
  color: #333;
}

.currentPage .page-link {
  color: #1976d2;
}

.page-item p {
  margin: 0;
}

.dots {
  color: #000;
}
