.header {
  width: 90%;
  background-color: #f6f7f4;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav_part_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding-left: 10px;
}

.nav_part_right {
  padding-right: 10px;
}

.link {
  display: flex;
  text-decoration: none;
  color: #000;
}

.link_active {
  text-decoration: underline;
  color: #000;
}
